.container {
  width: 1100px;
  text-align: center;
}

.yAxis 
  path, line {
    stroke: white;
  }

.xAxis 
  path, line {
    stroke: white;
  }

.xAxis-grey 
  path, line {
    stroke: lightgrey;
  }

.yAxis-grey 
  path, line {
    stroke: lightgrey;
  }
